.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    .logo {
        color: rgb(255, 255, 255);
        font-size: 40px;
    }

    .headerContainerLogo {
        background-color: rgba(0, 0, 10, 0.20);
        padding-right: 15px;
        height: 100%;
        padding-left: 20px;
    }

    .lineU {
        color: rgb(255, 0, 55);
    }
}